
<% page_name 'Environment' %>

<div class="main">
  <div class="inner" style="width:800px;">
    <h2>ENV</h2>

    <% if @passenger_version && logged_user.admin? %>
      <div class="links">
        <%= link_to "[ restart passenger ]", {:action => 'restart_passenger'}, {:method => :post, :class => 'admin'} %>
      </div>
    <% end %>

    <table class="details">
      <tr>
        <td class="label">
          server hostname
        </td>
        <td>
          <%= @server_hostname %>
        </td>
      </tr>
      <% if @passenger_version %>
        <tr>
          <td class="label">
            passenger
          </td>
          <td>
            <%= @passenger_version %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td class="label">
          rails
        </td>
        <td>
          <%= Rails.version %>
        </td>
      </tr>
      <tr>
        <td class="label">
          env
        </td>
        <td>
          <%= Rails.env %>
        </td>
      </tr>
      <tr>
        <td class="label">
          root
        </td>
        <td>
          <%= Rails.root %>
        </td>
      </tr>
      <tr>
        <td class="label">
          public path
        </td>
        <td>
          <%= Rails.public_path %>
        </td>
      </tr>
      <tr>
        <td class="label">
          log level
        </td>
        <td>
          <%= Rails.logger.level %>
        </td>
      </tr>
      <tr>
        <td class="label">
          locale
        </td>
        <td>
          <%= I18n.locale %>
        </td>
      </tr>
    </table>

    <br>

    <h2>memcached</h2>

    <table class="browse">
      <tr>
        <td class="header">
          host
        </td>
        <td class="header">
          port
        </td>
        <td class="header">
          status
        </td>
        <td class="header">
          up_since
        </td>
        <td class="header" title="current / max">
          size
        </td>
        <td class="header" title="current / total">
          connections
        </td>
        <td class="header" title="current / total">
          items
        </td>
        <td class="header">
          hits
        </td>
        <td class="header">
          misses
        </td>
        <td class="header">
          evictions
        </td>
        <td class="header">
          in
        </td>
        <td class="header">
          out
        </td>
      </tr>
      <% unless @memcached_servers.blank? %>
        <% @memcached_servers.each do |s| %>
          <tr>
            <td>
              <%= s[:host] %>
            </td>
            <td>
              <%= s[:port] %>
            </td>
            <td>
              <%= s[:status].downcase if s[:status] %>
            </td>
            <td class="no_wrap">
              <%= I18n.l s[:stats][:uptime].seconds.ago, :format => :db if s[:stats][:uptime] %>
            </td>
            <td>
              <%= textual_data_amount s[:stats][:bytes] %> / <%= textual_data_amount s[:stats][:limit_maxbytes] %>
            </td>
            <td class="no_wrap">
              <%= s[:stats][:curr_connections] %> / <%= s[:stats][:total_connections] %>
            </td>
            <td class="no_wrap">
              <%= s[:stats][:curr_items] %> / <%= s[:stats][:total_items] %>
            </td>
            <td>
              <%= s[:stats][:get_hits] %>
            </td>
            <td>
              <%= s[:stats][:get_misses] %>
            </td>
            <td>
              <%= s[:stats][:evictions] || 0 %>
            </td>
            <td class="no_wrap">
              <%= textual_data_amount s[:stats][:bytes_read] %>
            </td>
            <td class="no_wrap">
              <%= textual_data_amount s[:stats][:bytes_written] %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="12">
            <%= @memcached_servers.nil? ? 'caching is disabled'  : 'no configured servers' %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>