
<% page_name 'Topic Report' %>

<div class="main">
  <div class="forums">
    <div class="page_header"><%= link_to 'Forums', {:action => 'index'} %></div>

    <div class="forum_name"><%= link_to @topic.forum.name, forums_path(:action => 'show', :id => @topic.forum) %></div>

    <div class="topic_title"><%= link_to @topic.title, topics_path(:forum_id => @topic.forum, :action => 'show', :id => @topic) %></div>

    <h3>Topic Report</h3>

    <%= render :partial => 'misc/flash', :locals => {:flash => flash} %>

    <div class="fields_box" style="width:650px;">
      <% form_tag :action => 'report' do %>
        <table>
          <tr>
            <td class="label">
              Reason:
            </td>
            <td>
              <%= text_field_tag :reason, '', {:size => 80, :maxlength => 200, :focus => true} %>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="center">
              <ul class="buttons">
                <li><%= submit_tag 'Send', :class => 'submit' %></li>
                <li><%= submit_tag 'Cancel', :name => 'cancel', :class => 'submit' %></li>
              </ul>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
