
<% page_name 'New Torrent Reward' %>

<div class="main">
  <h2>New Torrent Reward</h2>

  <div class="torrent_header"><%= torrent_link @torrent %></div>

  <%= render :partial => 'misc/flash', :locals => {:flash => flash} %>

  <div class="fields_box" style="width:700px;">
    <% form_tag :action => 'new' do %>
      <table>
        <tr>
          <td class="grey bold">
            After confirmation, the amount below will be transferred to the torrent uploader.
          <td>
        </tr>
        <tr>
          <td class="center">
            <ul>
              <li>
                <%= text_field_tag :reward_amount, params[:reward_amount], :size => 8, :maxlength => 10, :focus => true %>
              </li>
              <li>
                <%= select_tag 'reward_unit', options_from_collection_for_select(['MB', 'GB'], 'to_s', 'to_s', params[:reward_unit]) %>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="center">
            <ul class="buttons">
              <li><%= submit_tag 'Confirm', :class => 'submit' %></li>
              <li><%= submit_tag 'Cancel', :name => 'cancel', :class => 'submit' %></li>
            </ul>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
