
  <% display_ip = @user == current_user || current_user.admin? %>

  <table class="browse user_activity left">
    <tr>
      <td class="header">
        torrent
      </td>
      <td class="header_order_by">
        started
      </td>
      <td class="header">
        <%= image_tag 'connectable.png', :alt => 'Connectable', :title => 'Connectable' %>
      </td>
      <td class="header">
        up
      </td>
      <td class="header">
        down
      </td>
      <td class="header">
        %
      </td>
      <% if display_ip %>
        <td class="header">
          ip
        </td>
        <td class="header">
          port
        </td>
      <% end %>
      <td class="header">
        client
      </td>
    </tr>
    <% unless @peers.blank? %>
      <% @peers.each do |p| %>
        <tr>
          <td>
            <%= torrent_link p.torrent, :compact, 35 %>
          </td>
          <td class="no_wrap">
            <%= textual_time_interval p.started_at, 'ago' %>
          </td>
          <td>
            <span class="<%= p.peer_conn.connectable? ? 'connectable' : 'unconnectable' %>">
              <%= p.connectable? ? 'yes' : 'no' %>
            </span>
          </td>
          <td class="no_wrap">
            <%= textual_data_amount p.uploaded %>
          </td>
          <td class="no_wrap">
            <%= textual_data_amount p.downloaded %>
          </td>
          <td>
            <%= peer_completion p.completion_percentage %>
          </td>
          <% if display_ip %>
            <td>
              <%= p.ip %>
            </td>
            <td>
              <%= p.port %>
            </td>
          <% end %>
          <td class="no_wrap">
            <%= "#{p.client_name} #{p.client_version}" %>
          </td>
        </tr>
      <% end %>
      <% if @peers.total_pages > 1 %>
        <tr>
          <td class="pagination" colspan=" <%= current_user.admin? ? '9' : '7'%>">
            <% spinner_id = @seeding ? 'seeching_spinner' : 'leeching_spinner'%>
            <%= will_paginate_remote @peers, {:container => false}, {:spinner_id => spinner_id, :spinner_class => 'spinner_left'} %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan=" <%= display_ip ? '9' : '7'%>">
          No peers found.
        </td>
      </tr>
    <% end %>
  </table>