
<% page_name 'Change Your Password' %>

<div style="margin-top:80px;text-align:center;">
  <h2>Change your password</h2>
</div>

<div class="fields_box" style="width:400px;">
  <table>
    <tr>
      <td>
        <% form_tag :action => 'change_password' do %>
          <table class="fields_box">
            <tr>
              <td class="label">
                Username:
              </td>
              <td>
                <%= @user.username %>
              </td>
            </tr>
            <tr>
              <td class="label">
                New Password:
              </td>
              <td>
                <%= password_field_tag :password, '', {:size => 25, :maxlength => 30, :focus => true} %>
                <%= field_error @user.errors[:password] %>
              </td>
            </tr>
            <tr>
              <td class="label">
                Confirm:
              </td>
              <td>
                <%= password_field_tag :password_confirmation, '', {:size => 25, :maxlength => 30} %>
                <%= field_error @user.errors[:password_confirmation] %>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="center">
                <%= submit_tag 'Confirm', :class => 'submit' %>
              </td>
            </tr>
          </table>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<br>

<div class="links bold">
  <%= link_to '[ login ]', login_path %>
</div>
    