
  <table class="comment" id="comment_<%= comment.id %>">
    <tr>
      <td class="head" colspan="2">
        <div class="float_left">
          <ul class="compact">
            <li><%= comment.comment_number %></li>
            <li>|</li>
            <li>
              by
              <%= comment.user ? user_link(comment.user) : 'unknown' %>
              -
              <%= textual_time_interval comment.created_at, 'ago' %>
            </li>
            <% unless comment.edited_at.blank? %>
              <li>
                <span class="edited_by">
                  <%= "(edited by  #{comment.edited_by} #{textual_time_interval comment.edited_at, 'ago'})" %>
                </span>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="float_right">
          <ul class="menu">
            <% if comment.editable_by? logged_user %>
              <li><%= link_to 'edit', comments_path(:torrent_id => torrent, :action => 'edit', :id => comment, :page => current_page) %></li>
              <li>|</li>
            <% end %>

            <% if logged_user != comment.user %>
              <li><%= link_to 'report', {:controller => 'comments', :action => 'report', :id => comment, :page => current_page} %></li>
              <li>|</li>
            <% end %>

            <% if !torrent.locked || logged_user.admin_mod? %>
              <li>
                <%= link_to_remote 'quote',
                                   :url => {:controller => 'comments', :action => 'quote', :id => comment, :username => (comment.user ? comment.user.username : 'unknown')},
                                   :before => "this.blur();hide_show_div('quote_spinner_#{comment.id}', 'spinner_right')",
                                   :complete => "hide_show_div('quote_spinner_#{comment.id}')" %>
              </li>
            <% else %>
              <li><span class="grey">quote</span></li>
            <% end %>
          </ul>
        </div>
        <div id="quote_spinner<%= "_#{comment.id}" %>" class="hide">
          <%= spinner_image %>
        </div>
      </td>
    </tr>
    <tr>
      <td class="avatar">
        <%= avatar_image comment.user %>
      </td>
      <td class="body" valign="top">
        <div class="user_content">
          <%= HtmlHelper.to_html comment.body %>
        </div>
      </td>
    </tr>
  </table>












