
  <% if !@torrents.blank? && @torrents.length > 15 %>
    <%= will_paginate @torrents %>
  <% end %>

  <table class="browse wide">
    <tr>
      <td class="header">
        &nbsp;
      </td>
      <td width="99%" colspan="2" class="<%= table_header_css_class 'name'  %>">
        <%= table_header_link 'Name', 'name', @torrents %>
      </td>
      <td class="<%= table_header_css_class 'created_at' %>">
        <%= table_header_link 'Added', 'created_at', @torrents %>
      </td>
      <td class="header">
        Upper
      </td>
      <td class="<%= table_header_css_class 'size' %>">
        <%= table_header_link 'Size', 'size', @torrents %>
      </td>
      <td class="<%= table_header_css_class 'files_count' %>">
        <%= table_header_link 'Files', 'files_count', @torrents %>
      </td>
      <td class="<%= table_header_css_class 'comments_count' %>">
        <%= table_header_link image_tag('comments.png', :alt => 'Commented', :title => 'Commented'), 'comments_count', @torrents %>
      </td>
      <td class="<%= table_header_css_class 'snatches_count' %>">
        <%= table_header_link image_tag('snatches.gif', :alt => 'Snatched', :title => 'Snatched'), 'snatches_count', @torrents %>
      </td>
      <td class="<%= table_header_css_class 'seeders_count' %>">
        <%= table_header_link image_tag('seeders.png', :alt => 'Seeders', :title => 'Seeders'), 'seeders_count', @torrents %>
      </td>
      <td class="<%= table_header_css_class 'leechers_count' %>">
        <%= table_header_link image_tag('leechers.png', :alt => 'Leechers', :title => 'Leechers'), 'leechers_count', @torrents %>
      </td>
    </tr>
    <% unless @torrents.blank? %>
      <% @torrents.each do |t| %>
        <tr>
          <td class="no_padding">
            <%= category_label t.category, params, true %>
          </td>
          <td class="left no_right_border">
            <%= torrent_link t, :browse %>
            <%= torrent_additional_info t, APP_CONFIG[:torrents][:new_period_minutes] %>
            <%= tags_links t.tags, params, 'tag', 'tags' %>
          </td>
          <td class="torrent_download_bookmark">
            <div class="float_right">
              <%= torrent_download_link t %>
            </div>
          </td>
          <td class="no_wrap">
            <%= textual_time_interval t.created_at, 'ago' %>
          </td>
          <td>
            <%= user_link t.user, true %>
          </td>
          <td class="no_wrap">
            <%= textual_data_amount t.size %>
          </td>
          <td>
            <%= t.files_count %>
          </td>
          <td>
            <%= t.comments_count %>
          </td>
          <td>
            <%= t.snatches_count %>
          </td>
          <td>
            <%= t.seeders_count %>
          </td>
          <td>
            <%= t.leechers_count %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="11">
          No torrents found.
        </td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @torrents %>