
  <table class="browse left">
    <tr>
      <td class="header">
        user
      </td>
      <td class="header">
        country
      </td>
      <td class="header_order_by">
        started
      </td>
      <td class="header">
        <%= image_tag('connectable.png', :alt => 'Connectable', :title => 'Connectable') %>
      </td>
      <td class="header">
        up
      </td>
      <td class="header">
        down
      </td>
      <td class="header">
        %
      </td>
      <% if current_user.admin? %>
        <td class="header">
          ip
        </td>
        <td class="header">
          port
        </td>
      <% end %>
      <td class="header">
        client
      </td>
    </tr>
    <% unless @peers.blank? %>
      <% @peers.each do |p| %>
        <tr>
          <td>
            <%= user_link p.user, true %>
          </td>
          <td>
            <%= country_image p.user.country %>
          </td>
          <td>
            <%= textual_time_interval p.started_at, 'ago' %>
          </td>
          <td>
            <span class="<%= p.connectable? ? 'connectable' : 'unconnectable' %>">
              <%= p.connectable? ? 'yes' : 'no' %>
            </span>
          </td>          
          <td>
            <%= textual_data_amount p.uploaded %>
          </td>
          <td>
            <%= textual_data_amount p.downloaded %>
          </td>
          <td>
            <%= peer_completion p.completion_percentage %>
          </td>
          <% if current_user.admin? %>
            <td>
              <%= p.ip %>
            </td>
            <td>
              <%= p.port %>
            </td>
          <% end %>
          <td>
            <%= "#{p.client_name} #{p.client_version}" %>
          </td>
        </tr>
      <% end %>
      <% if @peers.total_pages > 1 %>
        <tr>
          <td class="pagination" colspan="<%= current_user.admin? ? '9' : '7'%>">
            <%= will_paginate_remote @peers, {:container => false}, {:spinner_id => 'peers_spinner', :spinner_class => 'spinner_left'} %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="<%= current_user.admin? ? '10' : '8'%>">
          No peers found.
        </td>
      </tr>
    <% end %>
  </table>














