
<% page_name 'Genders' %>

<div class="main">
  <h2>Genders</h2>

  <div class="links">
    <%= link_to '[ new ]', {:action => 'new'}, {:class => 'admin'} %>
  </div>

  <table class="browse">
    <tr>
      <td class="header">
        &nbsp; id &nbsp;
      </td>
      <td class="header_order_by">
        name
      </td>
      <td class="header">
        &nbsp;
      </td>
      <td class="header">
        &nbsp;
      </td>
    </tr>
    <% unless @genders.blank? %>
      <% @genders.each do |s| %>
        <tr>
          <td>
            <%= s.id %>
          </td>
          <td>
            <%= s.name %>
          </td>
          <td>
            <%= link_to '[ edit ]', {:action => 'edit', :id => s}, {:class => 'admin'} %>
          </td>
          <td>
            <%= link_to '[ delete ]', {:action => 'destroy', :id => s}, {:method => :post, :class => 'admin', :confirm => 'Are you sure?'} %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">
          no genders found
        </td> 
      </tr>
    <% end %>
  </table>
</div>